<div class="widget color-picker">
    <h3 class="widget-title">Theme Preview</h3>
    <div id="banner-toggle-bar">
      <label for="banner-checkbox">Show Banner</label><br>
      <input type="checkbox" id="banner-checkbox" name="banner-checkbox" />
    </div>
  
    <div id="preset-list">
      <div class="preset-btn" style="background-color: #f486aa;" data-hue="0"></div>
      <div class="preset-btn" style="background-color: #fa8978;" data-hue="30"></div>
      <div class="preset-btn" style="background-color: #ee9748;" data-hue="60"></div>
      <div class="preset-btn" style="background-color: #00cab1;" data-hue="180"></div>
      <div class="preset-btn" style="background-color: #63b3ff;" data-hue="250"></div>
      <div class="preset-btn" style="background-color: #8ca8ff;" data-hue="270"></div>
      <div class="preset-btn" style="background-color: #bc98f9;" data-hue="300"></div>
      <div class="preset-btn" style="background-color: #df8cd8;" data-hue="330"></div>
      <div class="preset-btn" style="background-color: #ec88c2;" data-hue="345"></div>
    </div>
    <input type="range" min="0" max="360" value="250" class="slider" id="colorSlider" step="5" style="width: 100%;" />
    <p class="hue-text">Hue: <span id="hueValue"></span></p>
  </div>
  