<section id="profile" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Profile</span>
          </h1>
        </div>
        <div class="meta-info-bar">
          <div class="meta-info">NOSTR Profile</div>
        </div>
      </header>
      <div class="e-content section-entry" itemprop="sectionBody">
        <p>Description</p>
      </div>
    </div>
  </div>
</section>

<section id="indexers" class="h-entry section section-type-page">
    <div class="section-inner">
      <div class="section-main">
        <header class="section-header">
          <div class="main-title-bar">
            <div class="main-title-dot"></div>
            <h1 itemprop="name">
              <span class="section-title">Indexers</span>
            </h1>
          </div>
          <div class="meta-info-bar">
            <div class="meta-info">Angor Indexers</div>
          </div>
        </header>
        <div class="e-content section-entry" itemprop="sectionBody">
          <p>Description</p>
        </div>
      </div>
    </div>
  </section>
  <section id="relays" class="h-entry section section-type-page">
    <div class="section-inner">
      <div class="section-main">
        <header class="section-header">
          <div class="main-title-bar">
            <div class="main-title-dot"></div>
            <h1 itemprop="name">
              <span class="section-title">Relays</span>
            </h1>
          </div>
          <div class="meta-info-bar">
            <div class="meta-info">NOSTR Relays</div>
          </div>
        </header>
        <div class="e-content section-entry" itemprop="sectionBody">
          <p>Description</p>
        </div>
      </div>
    </div>
  </section>