#theme-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-right: 1px !important;
}
.light-mode-icon,
.dark-mode-icon {
  display: none;
}

:root[theme="light"] .light-mode-icon {
  display: inline;
}

:root[theme="dark"] .dark-mode-icon {
  display: inline;
}
