@page "/"

<PageTitle>Angor Browse</PageTitle>

<div class="-mt-[82px] flex-grow lg:-mt-[106px]">
    <div class="h-20 bg-black lg:h-[104px]"></div>
    <section class="bg-white bg-[url(../images/world-map.png)] bg-bottom bg-no-repeat rtl:rotate-y-180 dark:bg-black">
         <div class="py-24 dark:bg-gradient-to-r dark:from-[#B476E5]/10 dark:to-[#47BDFF]/10 lg:py-40">
            <div class="container">
                <div class="mx-auto max-w-[1028px] text-center rtl:rotate-y-180">
                    <h2 class="text-3xl font-black text-black dark:text-white sm:text-6xl lg:text-[100px] lg:leading-[125px]">
                          <span class="text-color">Browse</span>
                    </h2>
                    <p class="mt-5 text-2xl font-bold">Coming Soon . . .</p>

                </div>
            </div>
        </div>
    </section>
</div>