.container {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-container, .main-container {
    text-align: center;
}

h2 {
    color: var(--btn-text-neutral-text);
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    margin-top: 30px ;
}

.key-box, .account-info {
    padding: 20px;
    border-radius: 8px;
    margin: 15px 0;
    text-align: left;
}

.key {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;

background: var(--input-field);}

.input-text, .input-textarea {
    width: 100%;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #9a9a9a;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9eef5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.relay-list {
    list-style: none;
    padding: 0;
}

.relay-list li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.relay-list .connected {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.relay-list .disconnected {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-list li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    max-width: 800px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.profile-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 3px solid white;
}

.profile-details {
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
}

.profile-details h1 {
    margin: 10px 0;
}

.profile-details p {
    margin: 5px 0;
}

.additional-info {
    margin-top: 20px;
    text-align: left;
}

.additional-info p {
    margin: 5px 0;
}
