@import 'overlayscrollbars/styles/overlayscrollbars.css';

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #f7f8fa;
    margin: 0;
    color: #333;
    scroll-behavior: smooth;
}

/* Dark theme styles */
:root[theme='dark'] {
    --background-color: #333;
    --text-color: #f7f8fa;
    --navbar-bg-color: #444;
    --container-bg-color: #555;
    --input-bg-color: #666;
    --button-bg-color: #007BFF;
    --button-hover-bg-color: #0056b3;
    --highlight-color: #007BFF;
}

:root[theme='light'] {
    --background-color: #f7f8fa;
    --text-color: #333;
    --navbar-bg-color: white;
    --container-bg-color: white;
    --input-bg-color: #e9eef5;
    --button-bg-color: #007BFF;
    --button-hover-bg-color: #0056b3;
    --highlight-color: #007BFF;
}

/* Theme dependent styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: var(--navbar-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    padding: 10px ;
    margin-top: 20px;
    width: 100%;
    max-width: 700px;  
    margin: auto;  
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Container styles */
.container {
    text-align: center;
    padding: 30px;
    background: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-top: 20px;
}

/* Heading styles */
h1, h2 {
    margin-bottom: 20px;
    color: var(--highlight-color);
}

/* Text box styles */
.text-box {
    background-color: var(--input-bg-color);
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
}

/* Input styles */
.input-text, .input-textarea {
    width: 100%;
    border: none;
    background: none;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color);
    box-sizing: border-box;
}

/* Button styles */
.speak-button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.speak-button:hover {
    background-color: var(--button-hover-bg-color);
}

/* Theme switcher button styles */
.nav-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.light-mode-icon, .dark-mode-icon {
    display: none;
}

:root[theme='light'] .light-mode-icon {
    display: none;
}

:root[theme='light'] .dark-mode-icon {
    display: inline;
}

:root[theme='dark'] .dark-mode-icon {
    display: none;
}

:root[theme='dark'] .light-mode-icon {
    display: inline;
}

.custom-dialog-container .mat-dialog-container {
    border-radius: 10px;  
    padding: 20px; 
  }