@inherits LayoutComponentBase

<header>
    <div class="w-full h-16 fixed md:relative top-0 left-0 right-0 bg-surface-200 dark:bg-surfacedark-200 md:bg-transparent md:dark:bg-transparent flex flex-row items-center justify-between md:justify-center gap-1.5 z-50">
        <!-- logo -->
        <a href="/" target="_blank" class="md:hidden relative px-6">
            <img width="100" src="/img/icon-angor.svg" />
        </a>
        <!-- title -->
        <h2 class="text-[1.375rem] leading-7">Angor Browse</h2>
        <!-- light dark -->
        <div @onclick="ToggleDarkMode" class="md:hidden relative px-4" aria-label="Brightness" data-microtip-position="bottom" role="tooltip">
            <!-- light & dark -->
            <button data-type="theme" id="lightdark"
                    class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-sm tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400">
                <span class="material-symbols-outlined dark-hidden">light_mode</span>
                <span class="material-symbols-outlined dark-block">dark_mode</span>
            </button>
        </div>
    </div>
</header>
<main class="flex flex-row gap-4 md:pl-24 px-2 md:pr-0 pt-20 md:pt-0">
    <!-- navigation rail -->
    <div class="w-full md:w-24 fixed left-0 md:top-0 bottom-0 right-0 md:h-screen flex items-center flex-row md:flex-col gap-8 py-1 bg-surface-200 dark:bg-surfacedark-200 z-50">
        <!-- logo -->
        <a href="/" class="hidden md:flex relative mb-8">
            <div aria-label="Angor Browse" data-microtip-position="right" role="tooltip">
                <img width="100" src="/img/icon-angor.svg" />
            </div>
        </a>
        <NavMenu />
        <div class="hidden md:flex flex-col items-center gap-3 mt-auto">
            <!-- light dark -->
            <div @onclick="ToggleDarkMode" class="relative" aria-label="Brightness" data-microtip-position="top" role="tooltip">
                <!-- light & dark -->
                <button data-type="theme" id="lightdark"
                        class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-sm tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400">
                    <span class="material-symbols-outlined dark-hidden">light_mode</span>
                    <span class="material-symbols-outlined dark-block">dark_mode</span>
                </button>
            </div>
        </div>
    </div>

    @Body
</main>

<footer class="p-4 md:py-6 mb-24 md:mb-0 flex flex-col md:flex-row justify-center text-center">

    <p>
        Development by
        <a class="text-primary-600 dark:text-primary-200 hover:underline" href="https://angor.io"
           target="_blank">Angor</a>
    </p>

</footer>

    @inject IJSRuntime JSRuntime

<!-- Your Blazor component content -->
@code {


    private bool isDarkMode = false;

    private async Task ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("applyDarkMode", isDarkMode);
    }
}
