@inherits LayoutComponentBase
@inject IJSRuntime Js;


<div class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent">
    <Header/>
    @Body
    <Footer/>
</div>
<ScrollToTop/>

