@inherits LayoutComponentBase

<header>
    <div class="w-full h-16 fixed md:relative top-0 left-0 right-0 bg-surface-200 dark:bg-surfacedark-200 md:bg-transparent md:dark:bg-transparent flex flex-row items-center justify-between md:justify-center gap-1.5 z-50">
        <!-- logo -->
        <a href="/" target="_blank" class="md:hidden relative px-6">
            <img width="100" src="/img/icon-angor.svg" />
        </a>
        <!-- title -->
        <h2 class="text-[1.375rem] leading-7">Angor Browse</h2>
        <!-- light dark -->
        <div @onclick="ToggleDarkMode" class="md:hidden relative px-4" aria-label="Brightness" data-microtip-position="bottom" role="tooltip">
            <!-- light & dark -->
            <button data-type="theme" id="lightdark"
                    class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-sm tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400">
                <span class="dark-hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                    </svg>
                </span>
                <span class="dark-block">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</header>
<main class="flex flex-row gap-4 md:pl-24 px-2 md:pr-0 pt-20 md:pt-0">
    <!-- navigation rail -->
    <div class="w-full md:w-24 fixed left-0 md:top-0 bottom-0 right-0 md:h-screen flex items-center flex-row md:flex-col gap-8 py-1 bg-surface-200 dark:bg-surfacedark-200 z-50">
        <!-- logo -->
        <a href="/" class="hidden md:flex relative mb-8">
            <div aria-label="Angor Browse" data-microtip-position="right" role="tooltip">
                <img width="100" src="/img/icon-angor.svg" />
            </div>
        </a>
        <NavMenu />
        <div class="hidden md:flex flex-col items-center gap-3 mt-auto">
            <!-- light dark -->
            <div @onclick="ToggleDarkMode" class="relative" aria-label="Brightness" data-microtip-position="top" role="tooltip">
                <!-- light & dark -->
                <button data-type="theme" id="lightdark"
                        class="material-symbols-outlined relative !inline-flex !items-center justify-center w-12 h-12 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-sm tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400 dark:text-primary-200 dark:hover:bg-surfacedark-300 dark:focus:bg-surfacedark-400">
                    <span class="dark-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                        </svg>
                    </span>
                    <span class="dark-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>

    @Body
</main>

<footer class="p-4 md:py-6 mb-24 md:mb-0 flex flex-col md:flex-row justify-center text-center">

    <p>
        Development by
        <a class="text-primary-600 dark:text-primary-200 hover:underline" href="https://angor.io"
           target="_blank">Angor</a>
    </p>

</footer>

    @inject IJSRuntime JSRuntime

<!-- Your Blazor component content -->
@code {


    private bool isDarkMode = false;

    private async Task ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("applyDarkMode", isDarkMode);
    }
}
