name: Pull Request

on: 
  pull_request:
    branches:
      - main

jobs:
  
  buildAndUnitTest:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    
    env:
      PROJECT_NAME: "Angor-Browse"
      SOLUTION_PATH: "src/Angor.Browse.sln"
      PROJECT_PATH: "src/Angor.Browse/Angor.Browse.csproj"
      BUILD_CONFIGURATION: "Release"

    steps:

    - uses: actions/checkout@v1
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          8.0.x
    - name: Setup Node.js (${{ matrix.node_version }})
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}

    - name: Variables
      run: |
        echo VERSION=$(npm run version --silent) >> $GITHUB_ENV
      shell: bash
      
    - name: Workload
      run: dotnet workload restore ${{env.SOLUTION_PATH}}

    - name: Restore
      run: dotnet restore ${{env.SOLUTION_PATH}}

    - name: Unit Test
      run: dotnet test -v=normal -c ${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_PATH}}
